In [10]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [11]:
price_data = pd.read_excel('Data/Price (Forecast).xlsx')
adani_power_bid_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Adani Power (Bid 1).xlsx')
adani_power_bid_1

NameError: name 'pd' is not defined

In [12]:
# Merge the data with price data
adani_power_bid_1 = adani_power_bid_1.merge(price_data, on='TimeStamp')
adani_power_bid_1

NameError: name 'adani_power_bid_1' is not defined

In [13]:
adani_power_bid_1.fillna(0, inplace=True)
adani_power_bid_1.isnull().sum()
adani_power_bid_1.to_csv('New Data/Intra-State/adani_power_bid_1.csv', index=False)

NameError: name 'adani_power_bid_1' is not defined

In [14]:
adani_power_bid_2 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Adani Power (Bid 2).xlsx')
adani_power_bid_2 = adani_power_bid_2.merge(price_data, on='TimeStamp')

NameError: name 'pd' is not defined

In [15]:
adani_power_bid_2.fillna(0, inplace=True)
adani_power_bid_2.isnull().sum()
adani_power_bid_2.to_csv('New Data/Inter-State/adani_power_bid_2.csv', index=False)

NameError: name 'adani_power_bid_2' is not defined

In [16]:
dadri = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Dadri.xlsx')
dadri = dadri.merge(price_data, on='TimeStamp')
dadri.fillna(0, inplace=True)
dadri.to_csv('New Data/Inter-State/dadri.csv', index=False)
dadri.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
darlipalli = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Darlipalli.xlsx')
darlipalli = darlipalli.merge(price_data, on='TimeStamp')
darlipalli.fillna(0, inplace=True)
darlipalli.to_csv('New Data/Inter-State/darlipalli.csv', index=False)
darlipalli.isnull().sum()

In [17]:
farakka_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Farakka1.xlsx')
farakka_1 = farakka_1.merge(price_data, on='TimeStamp')
farakka_1.fillna(0, inplace=True)
farakka_1.to_csv('New Data/Inter-State/farakka_1.csv', index=False)
farakka_1.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
farakka_3 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Farakka3.xlsx')
farakka_3 = farakka_1.merge(price_data, on='TimeStamp')
farakka_3.fillna(0, inplace=True)
farakka_3.to_csv('New Data/Inter-State/farakka_3.csv', index=False)
farakka_3.isnull().sum()

In [18]:
gadarwara = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Gadarwara.xlsx')
gadarwara = gadarwara.merge(price_data, on='TimeStamp')
gadarwara.fillna(0, inplace=True)
gadarwara.to_csv('New Data/Inter-State/gadarwara.csv', index=False)
gadarwara.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
jhanor = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Jhanor.xlsx')
jhanor = jhanor.merge(price_data, on='TimeStamp')
jhanor.fillna(0, inplace=True)
jhanor.to_csv('New Data/Inter-State/jhanor.csv', index=False)
jhanor.isnull().sum()

In [19]:
kahlagaon_kahalgaon_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Kahlagaon & Kahalgaon1.xlsx')
kahlagaon_kahalgaon_1 = kahlagaon_kahalgaon_1.merge(price_data, on='TimeStamp')
kahlagaon_kahalgaon_1.fillna(0, inplace=True)
kahlagaon_kahalgaon_1.to_csv('New Data/Inter-State/kahlagaon_kahalgaon_1.csv', index=False)
kahlagaon_kahalgaon_1.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
kakrapar_3_4 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Kakrapar 3&4.xlsx')
kakrapar_3_4 = kakrapar_3_4.merge(price_data, on='TimeStamp')
kakrapar_3_4.fillna(0, inplace=True)
kakrapar_3_4.to_csv('New Data/Inter-State/kakrapar_3_4.csv', index=False)
kakrapar_3_4.isnull().sum()

In [20]:
kawas = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Kawas.xlsx')
kawas = kawas.merge(price_data, on='TimeStamp')
kawas.fillna(0, inplace=True)
kawas.to_csv('New Data/Inter-State/kawas.csv', index=False)
kawas.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
khargone = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Khargone.xlsx')
khargone = khargone.merge(price_data, on='TimeStamp')
khargone.fillna(0, inplace=True)
khargone.to_csv('New Data/Inter-State/khargone.csv', index=False)
khargone.isnull().sum()

In [21]:
korba_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Korba1.xlsx')
korba_1 = korba_1.merge(price_data, on='TimeStamp')
korba_1.fillna(0, inplace=True)
korba_1.to_csv('New Data/Inter-State/korba_1.csv', index=False)
korba_1.isnull().sum()

NameError: name 'pd' is not defined

In [22]:
korba_2 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Korba2.xlsx')
korba_2 = korba_2.merge(price_data, on='TimeStamp')
korba_2.fillna(0, inplace=True)
korba_2.to_csv('New Data/Inter-State/korba_2.csv', index=False)
korba_2.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
lara = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Lara.xlsx')
lara = korba_2.merge(price_data, on='TimeStamp')
lara.fillna(0, inplace=True)
lara.to_csv('New Data/Inter-State/lara.csv', index=False)
lara.isnull().sum()

In [23]:
mauda = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Mauda.xlsx')
mauda = mauda.merge(price_data, on='TimeStamp')
mauda.fillna(0, inplace=True)
mauda.to_csv('New Data/Inter-State/mauda.csv', index=False)
mauda.isnull().sum()

NameError: name 'pd' is not defined

In [24]:
mauda_2 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Mauda2.xlsx')
mauda_2 = mauda_2.merge(price_data, on='TimeStamp')
mauda_2.fillna(0, inplace=True)
mauda_2.to_csv('New Data/Inter-State/mauda_2.csv', index=False)
mauda_2.isnull().sum()

NameError: name 'pd' is not defined

In [25]:
sipat_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Sipat1.xlsx')
sipat_1 = sipat_1.merge(price_data, on='TimeStamp')
sipat_1.fillna(0, inplace=True)
sipat_1.to_csv('New Data/Inter-State/sipat_1.csv', index=False)
sipat_1.isnull().sum()

NameError: name 'pd' is not defined

In [ ]:
sipat_2 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Sipat2.xlsx')
sipat_2 = sipat_2.merge(price_data, on='TimeStamp')
sipat_2.fillna(0, inplace=True)
sipat_2.to_csv('New Data/Inter-State/sipat_2.csv', index=False)
sipat_2.isnull().sum()

In [26]:
solapur = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Solapur.xlsx')
solapur = solapur.merge(price_data, on='TimeStamp')
solapur.fillna(0, inplace=True)
solapur.to_csv('New Data/Inter-State/solapur.csv', index=False)
solapur.isnull().sum()

NameError: name 'pd' is not defined

In [27]:
ssnnl = pd.read_excel('Data/Inter State Gen Stations (Forecast)/SSNNL.xlsx')
ssnnl = ssnnl.merge(price_data, on='TimeStamp')
ssnnl.fillna(0, inplace=True)
ssnnl.to_csv('New Data/Inter-State/ssnnl.csv', index=False)
ssnnl.isnull().sum()

NameError: name 'pd' is not defined

In [28]:
talcher = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Talcher.xlsx')
talcher = talcher.merge(price_data, on='TimeStamp')
talcher.fillna(0, inplace=True)
talcher.to_csv('New Data/Inter-State/talcher.csv', index=False)
talcher.isnull().sum()

NameError: name 'pd' is not defined

In [29]:
tanda_2 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Tanda2.xlsx')
tanda_2 = tanda_2.merge(price_data, on='TimeStamp')
tanda_2.fillna(0, inplace=True)
tanda_2.to_csv('New Data/Inter-State/tanda_2.csv', index=False)
tanda_2.isnull().sum()

NameError: name 'pd' is not defined

In [30]:
tarapur_3_4 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Tarapur 3&4.xlsx')
tarapur_3_4 = tarapur_3_4.merge(price_data, on='TimeStamp')
tarapur_3_4.fillna(0, inplace=True)
tarapur_3_4.to_csv('New Data/Inter-State/tarapur_3_4.csv', index=False)
tarapur_3_4.isnull().sum()

NameError: name 'pd' is not defined

In [31]:
unchahar_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Unchahar1.xlsx')
unchahar_1 = unchahar_1.merge(price_data, on='TimeStamp')
unchahar_1.fillna(0, inplace=True)
unchahar_1.to_csv('New Data/Inter-State/unchahar_1.csv', index=False)
unchahar_1.isnull().sum()

NameError: name 'pd' is not defined

In [32]:
vidyanchal_1 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Vidyanchal1.xlsx')
# vidyanchal_1 = vidyanchal_1.merge(price_data, on='TimeStamp')
vidyanchal_1.fillna(0, inplace=True)
vidyanchal_1.to_csv('New Data/Inter-State/vidyanchal_1.csv', index=False)
vidyanchal_1.isnull().sum()

NameError: name 'pd' is not defined

In [33]:
vidyanchal_2 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Vidyanchal2.xlsx')
vidyanchal_2 = vidyanchal_2.merge(price_data, on='TimeStamp')
vidyanchal_2.fillna(0, inplace=True)
vidyanchal_2.to_csv('New Data/Inter-State/vidyanchal_2.csv', index=False)
vidyanchal_2.isnull().sum()

NameError: name 'pd' is not defined

In [34]:
vidyanchal_3 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Vidyanchal3.xlsx')
vidyanchal_3 = vidyanchal_3.merge(price_data, on='TimeStamp')
vidyanchal_3.fillna(0, inplace=True)
vidyanchal_3.to_csv('New Data/Inter-State/vidyanchal_3.csv', index=False)
vidyanchal_3.isnull().sum()

NameError: name 'pd' is not defined

In [35]:
vidyanchal_4 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Vidyanchal4.xlsx')
vidyanchal_4 = vidyanchal_4.merge(price_data, on='TimeStamp')
vidyanchal_4.fillna(0, inplace=True)
vidyanchal_4.to_csv('New Data/Inter-State/vidyanchal_4.csv', index=False)
vidyanchal_4.isnull().sum()

NameError: name 'pd' is not defined

In [36]:
vidyanchal_5 = pd.read_excel('Data/Inter State Gen Stations (Forecast)/Vidyanchal5.xlsx')
vidyanchal_5 = vidyanchal_5.merge(price_data, on='TimeStamp')
vidyanchal_5.fillna(0, inplace=True)
vidyanchal_5.to_csv('New Data/Inter-State/vidyanchal_5.csv', index=False)
vidyanchal_5.isnull().sum()

NameError: name 'pd' is not defined

In [43]:
import pandas as pd
demand_data= pd.read_csv('demand_data.csv')
demand_data

             TimeStamp  Demand(Actual)  Demand(Pred)
0        01/04/21 0:00        13708.81      13557.53
1        01/04/21 0:15        13697.44      13515.05
2        01/04/21 0:30        13619.33      13464.76
3        01/04/21 0:45        13711.56      13408.66
4        01/04/21 1:00        13683.30      13348.88
...                ...             ...           ...
210331  31/03/27 22:45            0.00      15190.18
210332  31/03/27 23:00            0.00      15203.70
210333  31/03/27 23:15            0.00      15205.81
210334  31/03/27 23:30            0.00      15196.03
210335  31/03/27 23:45            0.00      15174.55

[210336 rows x 3 columns]

In [44]:
demand_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210336 entries, 0 to 210335
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TimeStamp       210336 non-null  object
 1   Demand(Actual)  210336 non-null  float64
 2   Demand(Pred)    210336 non-null  float64
dtypes: float64(2), object(1)
memory usage: 4.8+ MB

In [46]:
demand_data_1=demand_data
demand_data_1

             TimeStamp  Demand(Actual)  Demand(Pred)
0        01/04/21 0:00        13708.81      13557.53
1        01/04/21 0:15        13697.44      13515.05
2        01/04/21 0:30        13619.33      13464.76
3        01/04/21 0:45        13711.56      13408.66
4        01/04/21 1:00        13683.30      13348.88
...                ...             ...           ...
210331  31/03/27 22:45            0.00      15190.18
210332  31/03/27 23:00            0.00      15203.70
210333  31/03/27 23:15            0.00      15205.81
210334  31/03/27 23:30            0.00      15196.03
210335  31/03/27 23:45            0.00      15174.55

[210336 rows x 3 columns]

In [47]:
demand_data_1['TimeStamp'] = pd.to_datetime(demand_data_1['TimeStamp'], format='%d/%m/%y %H:%M')
demand_data_1

                 TimeStamp  Demand(Actual)  Demand(Pred)
0      2021-04-01 00:00:00        13708.81      13557.53
1      2021-04-01 00:15:00        13697.44      13515.05
2      2021-04-01 00:30:00        13619.33      13464.76
3      2021-04-01 00:45:00        13711.56      13408.66
4      2021-04-01 01:00:00        13683.30      13348.88
...                    ...             ...           ...
210331 2027-03-31 22:45:00            0.00      15190.18
210332 2027-03-31 23:00:00            0.00      15203.70
210333 2027-03-31 23:15:00            0.00      15205.81
210334 2027-03-31 23:30:00            0.00      15196.03
210335 2027-03-31 23:45:00            0.00      15174.55

[210336 rows x 3 columns]

In [49]:
demand_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210336 entries, 0 to 210335
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TimeStamp       210336 non-null  datetime64[ns]
 1   Demand(Actual)  210336 non-null  float64
 2   Demand(Pred)    210336 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 4.8 MB

In [50]:
demand_data_1.to_csv('demand_data_1.csv', index=False)

In [61]:
iex_data= pd.read_csv('IEX_(Forecast).csv')
iex_data

             TimeStamp  Qty  Qty_Pred  Price  Pred_Price
0        01/04/21 0:00  0.0       0.0   3.94        3.90
1        01/04/21 0:15  0.0       0.0   3.93        4.09
2        01/04/21 0:30  0.0       0.0   3.47        3.54
3        01/04/21 0:45  0.0       0.0   3.47        3.40
4        01/04/21 1:00  0.0       0.0   3.40        3.47
...                ...  ...       ...    ...         ...
210331  31/03/27 22:45  0.0     223.0   0.00        3.80
210332  31/03/27 23:00  0.0     211.0   0.00        4.03
210333  31/03/27 23:15  0.0     181.0   0.00        4.33
210334  31/03/27 23:30  0.0     183.0   0.00        4.07
210335  31/03/27 23:45  0.0     206.0   0.00        3.71

[210336 rows x 5 columns]

In [63]:
iex_data['TimeStamp'] = pd.to_datetime(iex_data['TimeStamp'], format='%d/%m/%y %H:%M')
iex_data

                 TimeStamp  Qty  Qty_Pred  Price  Pred_Price
0      2021-04-01 00:00:00  0.0       0.0   3.94        3.90
1      2021-04-01 00:15:00  0.0       0.0   3.93        4.09
2      2021-04-01 00:30:00  0.0       0.0   3.47        3.54
3      2021-04-01 00:45:00  0.0       0.0   3.47        3.40
4      2021-04-01 01:00:00  0.0       0.0   3.40        3.47
...                    ...  ...       ...    ...         ...
210331 2027-03-31 22:45:00  0.0     223.0   0.00        3.80
210332 2027-03-31 23:00:00  0.0     211.0   0.00        4.03
210333 2027-03-31 23:15:00  0.0     181.0   0.00        4.33
210334 2027-03-31 23:30:00  0.0     183.0   0.00        4.07
210335 2027-03-31 23:45:00  0.0     206.0   0.00        3.71

[210336 rows x 5 columns]

In [64]:
iex_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210336 entries, 0 to 210335
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   TimeStamp   210336 non-null  datetime64[ns]
 1   Qty         210336 non-null  float64
 2   Qty_Pred    210336 non-null  float64
 3   Price       210336 non-null  float64
 4   Pred_Price  210336 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 8.0 MB

In [65]:
iex_data.to_csv('iex_data_1.csv', index=False)